body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #ff0000; /* Rojo F1 */
  color: white;
  text-align: center;
  padding: 1em;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}
nav ul li {
  margin: 0 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}
#countdown {
  font-size: 2em;
  text-align: center;
  color: #333;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 0.5em;
  text-align: left;
}
th {
  background-color: #333;
  color: white;
}

#champions-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
#champions-table th, #champions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#champions-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
#champions-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
#champions-table tr:hover {
  background-color: #f5f5f5;
}

#circuit-info {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#circuit-info h2, #circuit-info h3 {
  color: #333;
}
#circuit-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  cursor: pointer;
  transition: max-width 0.3s ease;
}
#circuit-details, #race-history {
  margin-top: 10px;
}
#circuit-details p, #race-history table {
  font-size: 16px;
}
#race-history table {
  width: 100%;
  border-collapse: collapse;
}
#race-history th, #race-history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#race-history th {
  background-color: #f2f2f2;
}
